nav {
  background-color: rgb(39, 11, 11);
}

#about2 {
  padding-top: 100px;
  background-color: black;
}

#portofolio .container-fluid {
  padding-bottom: 50px;
}

footer {
  background-color: rgb(39, 11, 11);
}
